<!DOCTYPE html>
<html>
<head>
  <title>Quiz App</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="home-page">

  	<h1>Welcome to the Quiz!</h1>
  	
  	<form method="POST" action="/results">
  	<p>1. what is 3 + 3.</p>
  		<input type="radio" name="q1" value="q1a1">33<br>
  		<input type="radio" name="q1" value="6">6<br>
  		<input type="radio" name="q1" value="q1a3">8<br>
  		<input type="radio" name="q1" value="q1a4">9<br>
  	<p>2. what color is opposite of red?.</p>
  		<input type="radio" name="q2" value="q2a1">yellow<br>
  		<input type="radio" name="q2" value="green">green<br>
  		<input type="radio" name="q2" value="q2a3">blue<br>
  		<input type="radio" name="q2" value="q2a4">purple<br>
  	<p>3. what is a wooden boat made of?.</p>
  		<input type="radio" name="q3" value="wood">wood<br>
  		<input type="radio" name="q3" value="q3a2">metal<br>
  		<input type="radio" name="q3" value="q3a3">air<br>
  		<input type="radio" name="q3" value="q3a4">water<br>
  	<p>4. what is cheese made out of.</p>
  		<input type="radio" name="q4" value="q4a1">cheese<br>
  		<input type="radio" name="q4" value="q4a2">butter<br>
  		<input type="radio" name="q4" value="milk">milk<br>
  		<input type="radio" name="q4" value="q4a4">cream<br>
  	<p>5. what is the square root of 9.</p>
  		<input type="radio" name="q5" value="q5a1">3<br>
  		<input type="radio" name="q5" value="q5a2">4<br>
  		<input type="radio" name="q5" value="q5a3">-3<br>
  		<input type="radio" name="q5" value="-3 and 3">-3 and 3<br>
  	<input type="submit">
  	</form>

  </div>

</body>
</html>

